.AlertRowExpended {
    background-color: #ffffff;

    td {

        padding: 10px 20px;

        p {
            margin-bottom: 10px;
            span {

                font-weight: bold;
            }
        }
    }
}