@import './media-queries';
.AlertRowExpended {
    background-color: #ffffff;

    td {
        .AlertRowExpended_mb{
            display: none;
        }
        @include mobile{
            .AlertRowExpended_mb{
                display: block;
            }
        }
        padding: 10px 20px;

        p {
            margin-bottom: 10px;
            span {

                font-weight: bold;
            }
        }
    }
}