@import './media-queries';

.TableUsers {
    max-width: 680px;
    width: 100%;
    border-collapse: collapse;

    .TableHeaders {
        background-color: var(--color-primary-black);
        color: #ffffff;

        .TableHeader {
            padding: 8px 0;
        }

        @include mobile {

            .TableHeader:nth-child(3){
                display: none;
            }
        }
    }


}